{% block main %}
<div class="banner_items">
   <div class="banner_container">
      <div class="text_container">
         <div class="banner_text">
               {% include "../_partials/_typing_text.njk" %}
         </div>
         <div class="logo">
            <p>"Inspiration, processing and applying."</p>
         </div>
      </div>
   </div>
   <div class="banner_image">
      <img class="banner_image_img" src="img/banner_teynur3.png" alt="">
   </div>
</div>
{% endblock main %}