{% if page.url == "/about/" or page.url == "/contact/" %}
   <div class="banner_detail">
      <p class="desc_page"> {{description}} </p>
      {% include "../_partials/_social_media.njk" %}
   </div>
{% else %}
   <div class="banner_detail">
      <h1 class="title_page"> {{title}} </h1>
      <p class="desc_page"> {{description}} </p>
      <p class="date_page"> {{date}} </p>
   </div>
{% endif %}