<div class="tech_container">
   <ul class="grid_container">
      {% for tech in technologies %}
      <li class="tech">
         <img class="tech_image" src="../icons/{{ tech.icon }}" alt="{{ tech.name }}">
         <h2>{{ tech.name }}</h2>
      </li>
      {% endfor %}
   </ul>
</div>