<div class="tech_container">
   <ul>
      {% for tech in technologies %}
      <li class="tech">
         <img class="tech_image" src="./icons/{{ tech.icon }}" alt="{{ skill.name }}">
      </li>
      {% endfor %}
   </ul>
</div>