<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="{{ '/styles/general.css' | url }}" />
      <link rel="stylesheet" href="{{ '/styles/project' | url }}" />

   <title>{{ title | striptags }}</title>
</head>

<body>
   {% include "_nav.njk" %}

   {% block header %}
      {{ content | safe }}
   {% endblock header %}
   <main>
      {% block main %}
      {{ content | safe }}
      {% endblock main %}
   </main>

   {% include "_footer.njk" %}
   <script src="../scripts/welcome.js"></script>
</body>

</html>