{% extends "../_layouts/base.njk" %}

{% block header %}
   {% include "../_partials/_banner_home.njk" %}
{% endblock header %}

{% block main %}
   {% include "../_partials/_skils.njk" %}
{% endblock main %}