{% extends "./base.njk" %}

{% block header %}
   {% include "../_partials/_banner_page.njk" %}
{% endblock header %}

{% block main %}
   {% block top %}
   {% endblock top %}
   
   <div class="article_project">
      {{ content | safe }}
   </div>

{% endblock main %}