{% extends "./base.njk" %}

{% block header %}
   {% include "../_partials/_banner_page.njk" %}
{% endblock header %}

{% block main %}
   <div class="article_project">
      {{ content | safe }}
   </div>
{% endblock main %}