---
nav: 
      title: Over
      order: 2
tags: nav
title: 'Over'
image: about/teynur.jpg
image2: about/teynur_about2.jpg
description: '"Voor mij is kwaliteit als een goede fles wijn, het verbetert met de tijd en is het beste wat je kunt krijgen"'
---

{% extends "../_layouts/grid_layout.njk" %}


{% block left %}
<div class="about_left">
<h1>Wie ben ik?</h1>
      <p class="text_about">
      Als kind was ik altijd al graag creatief bezig en ik heb deze passie kunnen omzetten naar een professionele carrière.
      In 2022 ben ik afgestudeerd aan Viso Mariakerke als Grafisch Ontwerper en Allround Drukker, waar ik alle vaardigheden
      en kennis heb opgedaan om mijzelf te ontwikkelen als professionele ontwerper.
      </p> 
      <p class="text_about_right">
            Ik heb ervaring met het creëren van visueel aantrekkelijke ontwerpen voor verschillende
            doeleinden, zoals drukwerk, digitale media en promotiemateriaal. Ik ben bekend met de nieuwste software en
            technologieën in de grafische industrie en kan hiermee de beste resultaten behalen voor mijn klanten.
      </p>
      <p class="text_about">
            Of het nu gaat om het ontwerpen van een nieuwe website, het opfrissen van een bestaande site of het maken van
            digitale advertenties, ik kan mijn klanten helpen om hun online aanwezigheid te verbeteren. Ik werk nauw samen met
            mijn
            klanten om hun doelen en wensen te begrijpen.
      </p>
      <p class="text_about_right">
            Kortom, ik ben een gepassioneerde creatieve professional met een brede kennis van grafisch ontwerp, drukwerk en
            webdesign. Ik ben altijd op zoek naar nieuwe uitdagingen en mogelijkheden om mijn talenten te gebruiken en mijn
            klanten tevreden te stellen.
      </p>
</div>
{% endblock left %}

{% block right_bottom %}
<div class="about_left">

</div>
{% endblock right_bottom %}